* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(1, 1, 1, 0.7);
  border-bottom: 1px solid #ffc107;
}

.nav {
  font-family: 'Alkatra', cursive;
}

.myBG {
  height: 100vh;
  background: url('assets/images/bg/bg1.jpeg');
  background-position: -100px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 2px 2px 1px black;
  letter-spacing: 1px;
}

.AdminstrasiBisnis {
  height: auto;
  background: url('assets/images/bg/ab.jpeg');
  background-size: cover;
  background-position: 0px;
  background-repeat: no-repeat;
}

.hr {
  margin: 15px auto 35px;
  width: 200px;
  border-top-width: 5px;
  border-color: white;
  opacity: 1;
  box-shadow: 2px 2px 1px black;
}

.ab,
.komunikasi,
.ti,
.games,
.contact {
  text-shadow: 2px 2px 1px black;
  text-transform: uppercase;
}

.Komunikasi {
  height: auto;
  background: url('assets/images/bg/komunikasi.jpeg');
  background-size: cover;
  background-position: 0;
}

.TeknologiInformasi {
  height: auto;
  background: url('assets/images/bg/ti.jpeg');
  background-size: cover;
  background-position: 0;
}

.Contact {
  height: auto;
  background: url('assets/images/bg/contact.jpg');
  background-size: cover;
  filter: contrast(90%);
}

.Games {
  height: auto;
  background: url('assets/images/bg/games.jpg');
  background-size: cover;
}

.card {
  height: 100% !important;
  overflow: hidden;
}

.card:hover {
  background-color: tomato;
}

.card:hover .card-img {
  transform: scale(105%);
  transition: 0.8s ease-in-out;
}

.link-games a {
  text-decoration: none;
}

.card-img {
  overflow: hidden;
  height: 350px !important;
}

.map {
  height: 500px;
  margin: 120px 0;
}

.map p {
  text-shadow: 2px 2px 2px black;
}

.label {
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
}

.label span {
  filter: drop-shadow(1px 1px 1px black);
}

.tombol {
  background-color: #b6895b;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #b6895b;
}

.tombol:hover {
  opacity: 80%;
  transition: 0.8s ease-in-out;
}

.Footer {
  /* background-color: #b6895b; */
  background: url('assets/images/bg/footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
  /* height: 100px; */
}

.footer-top a {
  color: white;
  margin: 0 3px;
  font-size: 23px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8));
}

.cipta {
  text-decoration: none;
}

.footer-bottom a:hover {
  color: yellow !important;
}

/* DEKSTOP VERSION */
@media (min-width: 992px) {
  .myBG {
    background-position: 0 -850px;
  }

  .title {
    font-size: 3.5rem;
    text-shadow: 3px 3px 1px black;
  }

  .ab,
  .komunikasi,
  .ti,
  .games,
  .contact {
    text-shadow: 2px 2px 1px black;
  }

  .card-img {
    height: 400px !important;
  }

  .map {
    height: 500px;
    margin: 0;
  }
}
